<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Agendamento do salão</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" mdia="screen">
</head>

<body>
	<form th:action="@{/index/save}" method="post" th:object="${agendamento}">
		
		<div class="container-fluid text-center">
			<div class="m-2">
				<h1 id="titulo">Agendamento do Salão</h1>
				<p id="subtitulo">Complete suas informações</p>
				<br>
			</div>
			
			<input type="hidden" th:field="*{agendamento_id}">
			
			<div class="form-group">
				<label> <strong>Nome do cliente: </strong> </label>
				<select name="nome" id="profissional" th:field="*{cliente}">
					<option value="1">Carlos Alberto</option>
				</select>
			</div>

			<div class="form-group">
				<label for="telefone"><strong>Telefone: </strong></label>
				<input type="telefone" name="telefone" id="telefone" required>
			</div>

			<div class="form-group">
				<label> <strong>Escolha seu procedimento estético:</strong> </label>
				<select name="procedimento" id="procedimento">
					<option value="Colorimetria">Colorimetria</option>
					<option value="Luzes">Luzes</option>
					<option value="Corte Feminino">Corte Feminino</option>
					<option value="Corte Feminino">Corte Masculino</option>
					<option value="Selagem termica (acida)">Selagem termica (acida)</option>
					<option value="Selagem termica (Formol)">Selagem termica (Formol)</option>
					<option value="Escova">Escova</option>
					<option value="Babylis">Babylis</option>
					<option value="Penteados">Penteados</option>
					<option value="Maquiagem">Maquiagem</option>
					<option value="Tonalização">Tonalização</option>
					<option value="Higienização">Higienização</option>
					<option value="Relaxamento">Relaxamento</option>
					<option value="Alisamento">Alisamento</option>
				</select>
			</div>

			<div class="form-group">
				<label> <strong>Data do seu procedimento: </strong> </label>
				<label>
					<input type="datetime-local" name="data" id="agendamento" checked>
				</label>
			</div>

			<div class="form-group">
				<label> <strong>Escolha seu profissional:</strong> </label>
				<select name="nome" id="profissional" th:field="*{funcionario}">
					<option value="1">Carlos Alberto</option>
					<option value="2">Matheus Sá</option>
					<option value="3">João Vitor</option>
					<option value="4">Eduardo Rodrigues</option>
				</select>
			</div>

			<div class="form-group">
				<label><strong>Se tem alguma necessidade especial, comente aqui em baixo: </strong></label>
				<br>
				<textarea rows="3" id="experiencia" name="experiencia" th:field="*{aviso}"></textarea>
			</div>

			<div class="form-group">
				<button class="botao" type="submit">Concluído</button>
			</div>

		</div>
	</form>
</body>

</html>